#main{
    height: 300vh;
    width: 100%;
    background-color: aquamarine;
}
#navbar{
    height: 8vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
}

#menu{
    height: 6vh;
    width: 100%;
    background-color: white;
    display: flex;
}

#arrow{
    height: 8vh;
    width: 100vw;

}

#header{
    width: 100vw;
    height: 50vh;
    display: flex;
}