#trending-course{
    height: 20vh;
    width: 100vw;
    display: flex;
    background-color: white;
   
   
}

.p{
    display: inline-block;
    margin-top: 13vh;
    margin-left: 8.5vw;
    font-size: 22px;
    font-weight: 600;
    color:#404040;
}